@model IEnumerable<TheUnsintProject.Models.Letter>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex align-items-center justify-content-center mt-5">
    <h1 class="title p-5" id="title">THE UNSINT PROJECT</h1>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
<script>
    var typed = new Typed('#title', {
        strings: ['', 'THE UNSINT PROJECT', '', 'THE UNSINT PROJECT'],
      typeSpeed: 80,
        smartBackspace: true,
        backSpeed: 80,
        backDelay: 700,
        loop: true,

    });
</script>