@using System.Drawing;
@model Letter

@{
    var bgColor = $"bg-{Model.Color.ToString().ToLower().Replace("_", "")}";
    var isIndexPage = ViewBag.IsIndexPage ?? false;
    var targetAttrib = isIndexPage ? "_blank" : string.Empty;
}

<a asp-action="Details" asp-route-id="@Model.Id" target="@targetAttrib" class="card col-4 no-design bg-white p-1">
    <div class="bg-black p-1">
        <div class="bg-white">
            <div class="row text-sm pt-1 px-3">
                <div class="col-2 bg-black text-center px-2">ABC</div>
                <div class="col-3 ">To: </div>
                <div class="col-6 archive-name">@Html.DisplayFor(item => item.Name)</div>
                <div class="col-1"></div>
            </div>
            <div class="mx-3 mt-1 row h-75">
                <div class="@bgColor" style="height: 25rem;">
                    <p class="m-2" style="font-size: 2.3em;">@Html.DisplayFor(item => item.Message)</p>
                </div>
            </div>
            <div class="row px-3">
                <div class="col-3 text-sm fw-bold">Send</div>
                <div class="col text-sm">#unsintproject</div>
                <div class="col-3 text-sm fw-bold text-end">Back</div>
            </div>
        </div>
    </div>
</a>