@using System.Drawing;
@model Letter

@{
    var bgColor = $"bg-{Model.Color.ToString().ToLower().Replace("_", "")}";
    var isIndexPage = ViewBag.IsIndexPage ?? false;
    var targetAttrib = isIndexPage ? "_blank" : string.Empty;
}

<a asp-action="Details" asp-route-id="@Model.Id" target="@targetAttrib" class="card col-3 m-2 no-design">
    <div>
        <div class="row">
            <div class="col-2">ABC</div>
            <div class="col-2">To: </div>
            <div class="col-6">@Html.DisplayFor(item => item.Name)</div>
            <div class="col-2"></div>
        </div>
        <div class="m-1 row h-75">
            <div class="@bgColor" style="height: 20rem;">
                <p class="m-2" style="font-size: 2.3em;">@Html.DisplayFor(item => item.Message)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">Send</div>
            <div class="col">#unsintproject</div>
            <div class="col-3">Back</div>
        </div>
    </div>
</a>